<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <title>Search for {{.Query}}</title>
    <style>
html { max-width: 65ch; padding: 2ch; margin: auto; color: #111; background: #ffe; }
body { hyphens: auto; }
header a { margin-right: 1ch; }
form { display: inline-block; }
input#search { width: 20ch; }
button { background: #eee; color: inherit; border-radius: 4px; border-width: 1px; }
img { max-width: 20%; }
.result { font-size: larger }
.score { font-size: smaller; opacity: 0.8; }
    </style>
  </head>
  <body>
    <header>
      <a href="#main">Skip navigation</a>
      <a href="/view/index">Home</a>
      <form role="search" action="/search" method="GET">
        <label for="search">Search:</label>
        <input id="search" type="text" value="{{.Query}}" spellcheck="false" name="q" accesskey="f" required>
        <button>Go</button>
      </form>
    </header>
    <main id="main">
      <h1>Search for {{.Query}}</h1>
      {{if .Results}}
      <p>
        {{if gt .Page 2}}<a href="/search?q={{.Query}}&page=1">First</a>{{end}}
        {{if gt .Page 1}}<a href="/search?q={{.Query}}&page={{.Previous}}">Previous</a>{{end}}
        Page {{.Page}}
        {{if .More}}<a href="/search?q={{.Query}}&page={{.Next}}">Next</a>{{end}}
      {{range .Items}}
      <article lang="{{.Language}}">
        <p><a class="result" href="/view/{{.Name}}">{{.Title}}</a>
          <span class="score">{{.Score}}</span></p>
        <blockquote>{{.Html}}</blockquote>
      </article>
      {{end}}
      <p>
        {{if gt .Page 2}}<a href="/search?q={{.Query}}&page=1">First</a>{{end}}
        {{if gt .Page 1}}<a href="/search?q={{.Query}}&page={{.Previous}}">Previous</a>{{end}}
        Page {{.Page}}
        {{if .More}}<a href="/search?q={{.Query}}&page={{.Next}}">Next</a>{{end}}
      {{else}}
      <p>No results.</p>
      {{end}}
    </main>
  </body>
</html>
