<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <title>Search for {{.Query}}</title>
    <style>
html { max-width: 65ch; padding: 2ch; margin: auto; color: #111; background: #ffe; }
body { hyphens: auto; }
img { max-width: 20%; }
.result { font-size: larger }
.score { font-size: smaller; opacity: 0.8; }
    </style>
  </head>
  <body lang="en">
    <h1>Search for {{.Query}}</h1>
    <main>
      {{if .Results}}
        {{range .Items}}
      <p><a class="result" href="/view/{{.Name}}">{{.Title}}</a> <span class="score">{{.Score}}</span></p>
      <blockquote>{{.Html}}</blockquote>
        {{end}}
      {{else}}
      <p>No results.</p>
      {{end}}
    </main>
  </body>
</html>
