<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <title>Manage Files</title>
    <link href="oddmu.css" rel="stylesheet" />
  </head>
  <body lang="en">
    <header>
      <a href="#main">Skip navigation</a>
      <a href="/view/index">Home</a>
      <a href="/archive/{{.Dir}}data.zip" accesskey="z">Zip</a>
      <a href="/upload/{{.Dir}}?filename=image-1.jpg" accesskey="u">Upload</a>
      <form role="search" action="/search/{{.Dir}}" method="GET">
        <label for="search">Search:</label>
        <input id="search" type="text" spellcheck="false" name="q" accesskey="f" placeholder="term #tag title:term blog:true" required>
        <button>Go</button>
      </form>
    </header>
    <main>
      <h1>Manage Files</h1>
      <form id="manage">
        <p><mark>Deletions and renamings take effect immediately and there is no undo!</mark></p>
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Delete</th>
          <th>Rename</th>
        </tr>{{range .Files}}
        <tr>
          <td>{{if .IsDir}}<a href="/list/{{$.Dir}}{{.Name}}">{{.Name}}</a>{{else}}<a href="/view/{{$.Dir}}{{.Name}}">{{.Name}}</a>{{end}}</td>
          <td>{{.Title}}</td>
          <td>{{if .IsUp}}{{else}}<button form="manage" formaction="/delete/{{$.Dir}}{{.Name}}" title="Delete {{.Name}}">🗑</button>{{end}}</td>
          <td>{{if .IsUp}}{{else}}
            <form action="/rename/{{$.Dir}}{{.Name}}">
              <input name="name" placeholder="New name"/>
              <button title="Rename {{.Name}}">♺</button>
            </form>{{end}}</td>
        </tr>{{end}}
      </table>
    </main>
  </body>
</html>
