<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <docs>http://blogs.law.harvard.edu/tech/rss</docs>
    <title>{{.Title}}</title>
    <link>https://transjovian.org/</link>
    <managingEditor>jupiter@transjovian.org (Ashivom Bandaralum)</managingEditor>
    <webMaster>jupiter@transjovian.org (Ashivom Bandaralum)</webMaster>
    <atom:link href="https://transjovian.org/view/{{.Path}}.rss" rel="self" type="application/rss+xml"/>
    <description>This is the digital garden of Ashivom Bandaralum.</description>
    <image>
      <url>https://transjovian.org/jupiter.svg</url>
      <title>{{.Title}}</title>
      <link>https://transjovian.org/</link>
    </image>
    {{range .Items}}
    <item>
      <title>{{.Title}}</title>
      <link>https://transjovian.org/view/{{.Path}}</link>
      <guid>https://transjovian.org/view/{{.Path}}</guid>
      <description>{{.Html}}</description>
      <pubDate>{{.Date}}</pubDate>
      {{range .Hashtags}}
      <category>{{.}}</category>
      {{end}}
    </item>
    {{end}}
  </channel>
</rss>
